body, html {
  margin: 0;
  padding: 0;
}

.logo {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  position: absolute;
  margin-top: -35px;
}

li {
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  display: inline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  padding: 0 10px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
}

.navbar-links li a:hover {
  color: lightgray;
}

/* Navbar Buttons */


.btn {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
}

.hero-image {
  margin-top: -10px;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

/*Main Content*/

.main-container {
  display: flex;
  column-gap: 250px;
  padding: 50px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  border: 3px solid black;
  border-radius: 10px;
  /* Rounded corners for the card */
  overflow: hidden;
  /* Hide overflow content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
}

.cardimg {
  height: 200px;
  width: 100%;
  /* Make image width fill the card */
  object-fit: cover;
  /* Ensure image covers the entire container */
  border-bottom: 4px solid black;
  border-radius: 8px 8px 0 0;
  /* Round bottom corners of image */
}

.card-content {
  padding: 15px;
}

.sidebar {
  float: left;
  width: 140px;
  padding-left: 23px;
  border: 2px dotted black;
  margin-right: -77px;
}


.card h4 {
  margin: 0;
  font-size: 18px;
  padding: 10px;
}

.card h5 {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
  padding: 10px;
  /* Subtle color for product price */
}